name: Test
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2
    - name: Install CUDA toolkit
      uses: Jimver/cuda-toolkit@v0.2.29
      with:
        sub-packages: '["nvcc", "cudart-dev"]'
        method: network
    - name: Install Protobuf Compiler (protoc)
      run: sudo apt-get install -y protobuf-compiler
    - name: Test
      run: cargo test --locked --workspace --all-targets
